@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body{
    background-color: antiquewhite;
}
#heading{
    text-decoration: overline;
    color: blueviolet;
    font-family: "Gamja Flower", sans-serif;
    background-image: linear-gradient();
    font-size: larger;
}

div{
    text-align: center;
    background-color: aliceblue;
}

.btn{
    background-color: rgb(94, 216, 169);
    padding: 10px 15px;
    border: 2px groove yellow;
}
